<!-- start custom footer snippets -->
<!-- a href="/sitemap/">Sitemap</a> -->
<table width="50%" cellpadding="10"><tbody>
    <tr>
      <br>
      <p style="padding-left: 10px;"><hr></p>
      <p style="padding-left: 10px;">
        Page Views:&nbsp<!-- Start of WebFreeCounter Code -->
        <!--<a href="https://www.hitwebcounter.com" target="_blank"><img src="https://hitwebcounter.com/counter/counter.php?page=7984661&style=0001&nbdigits=5&type=page&initCount=0" title="Free Counter" Alt="web counter"   border="0" /></a> -->
        <!-- End of WebFreeCounter Code --></p>
      <p style="padding-left: 10px;">
        <a href="https://clustrmaps.com/site/1bo9o" title="Visit tracker"><img src="//www.clustrmaps.com/map_v2.png?d=J-NsD83hGHTyToBRLFxnexK8pRjz_RJvImjuuaTU6JE&cl=ffffff"></a>
      </p>
      <p style="padding-left: 10px;">
        Updated Dec. 7, 2023
      </p>
    </tr>
</tbody></table>
